*{
     margin: 0;
     padding: 0;
}
html{
    font-family: 'League Gothic', sans-serif;
}
 h1{
    color:blue;
    font-size:30px;
    font-weight:bold;
}
.title-info-main{
    color:rgb(1, 1, 92);
    font-size:80px;
    font-weight:bold;
}
.title-seccion-3{
    color:rgb(1, 1, 92);
    font-size:60px;
    font-weight:bold;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.navbar , h1 {
    margin: 5px 120px 0px 120px;
}
.container-ul{
    display: flex;
    justify-content: space-around;
}
.btn-hoax{
    border: none;
    background-color: #471dff;
    padding:7px;
    color: white;
}


/* secion -2 */
.container-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 700px;
    place-content: center;
    gap:120px;
    margin-left:200px;
}

.secion-info{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.secion-info , h2 , .text-info-main-p{
    margin-bottom:20px;
}
.text-info-main-p{
    font-size:20px;
    color:grey;
    line-height: 33px;
    font-weight:normal;
}
.main-content-card{
    display:flex;
    align-content: center;
}
.card-1 ,  .card-2{
    display:flex;
    background-color: #f5f5f5;
    width: 200px;
    justify-content: center;
    border-radius: 10px;
    align-content: center;
    align-self: center;
    padding:15px;
}
.card-1 , .card-2 , span{
    margin-right:20px;
}

/* fondo vacunaccion  */
.fondo-vac{
    background-image: url("https://images.pexels.com/photos/4270088/pexels-photo-4270088.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px; /* 500 */
    margin-left: -100px;
    border-radius: 10px;
}

/* lista */
li{
    list-style: none;
    margin-right: 40px;
    color:grey;
    margin-top: 5px;
    font-size: 20px;
}
li:hover{
    border-bottom:2px  solid rgb(0, 0, 255);
    cursor: pointer;
}
.icon-tarject{
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px; 
}

/*carrusel-marcas */
.container-carrusel{
    display:flex;
    
}

.container-carrusel , .item-carusel{
    width: 200px;
    height: 200px;
    margin-left: 150px; /* 70*/
    margin-top:40px;
    opacity: 0.8;
    animation: slide-left 10s infinite;
}

@keyframes slide-left {
    0% {
        transform: translateX(-200px);
    }
    80% {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-200px);
    }
}

/* seccioom 3*/
.container-main-infot{
    margin-top: 100px;
}
.container-infot{
    margin-left: 150px;
}

.container-main-tarject{
    display: flex;
    justify-content: space-around;
    margin-left: 40px; /* 110 */ 
    margin-top: 40px;
}

.icon-one{
    width: 40px;
    height: 80px;
}
.container-icon , svg {
    margin: 3px 12px;
}
.tarject-container{
    background-color: #f2efff;
    height: auto;
    width: 200px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.content-info-tary {
    margin: 10px 20px 0px 20px;
    font-size: 26px;
    font-weight: normal;
}
.content-info-tary-p{
    color:grey;
    font-size:20px;
    margin-bottom:10px;
}

/* SECCION 3*/
.content-seccionm-inf-3{
    margin-top:200px;
}

.tarject-container-2{
    box-shadow: 10px 30px 10px rgb(10, 40, 20, 5);
}
.container-grid-main-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-container-card{
    margin-top:100px;
}
.text-parrafo-card-preparations{
    font-size: 30px;
    color:rgb(5, 5, 70);
    font-weight: 700;
    margin-bottom: 20px;
}
.text-card-preparations{
    font-size: 17px;
    color:grey;
    line-height: 24px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.container-preparations-card{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.container-preparations{
    display: flex;
    background-color: #f5f5f5;
    width: 300px;
    align-items: center;
    padding: 7px;
    margin-bottom: 20px;
}
.parrafo-card{
    font-size: 20px;
    color:grey;
    text-align: center;
    margin-left: 40px;
}
.izq-icon{
    margin-left: 100px;
}
.derec-icon{
    margin-left:40px;
}

.container-card-2{
    margin-top: 100px;
}


/* seccioon 4 -- info*/
.container-grid-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    margin-left: 100px;
    margin-top: 100px;
}
.container-text-info-4-h3-4{
    color:#0f0348;
    font-size: 50px;
}
.container-text-info-4-p-4{
    color:grey;
    font-size: 20px;
    line-height: 30px;
    margin-top:40px;
} 


.fondo-info-4-img{
    width: 400px;
    height: 600px;
}

.container-flex-container-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    grid-template-rows: repeat(2, 1fr);

}

.container-flex-icon{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    margin-top: 40px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 10px rgb(10, 20, 20, 5);
}
.content-card-call{
    display: flex;
}
.fondo-icon-call{
    width: 50px;
    height: 50px;
    background-color: #dedaf3;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 12px;
}
.icon-call{
    margin-left: 15px;
    margin-top: 10px;
}
.btn-call{
    border:none;
    background-color: #abbcff;
    padding: 10px;
    color:rgb(0, 0, 199);
    width: 80%;
    margin-left: 20px;
    position: relative;
    bottom:-15px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.btn-call:hover{
    background-color: #2b00ff;
    color:white;
}
.container-text-info-card{
    display: flex;
    flex-direction: column;
    margin:15px;
}

footer{
    height: auto;
    background-color: #cbc5ff;
}
.seccion-footer{
    display: flex;
    
}

.foter-vaccination{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}



.container-footer-seccion-2{
    display: flex;
    justify-content: space-around;
}

.footer-pag-final-text{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.footer-pag-final-text-p-2{
    color:rgb(0, 0, 0);
}



/* Media query , mobile*/
@media screen and (max-width: 970px){
    .navbar{
        display: none;
    }
    .container-grid{
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin: 0px 10px;
        gap:10px;
        
    }
    h2{
        font-size:50px;
    }
    .fondo-vac{
        justify-content: center;
        align-content: center;
        margin-left: 10px;
        width: 90%;
        height: 400px;
    }
    .card-1 , .card-2{
        width: 150px;
        align-content: center;
        text-align: center;
        margin-bottom:10px;
        padding:10px;
    }
    .card-1 , .card-2 , span{
        align-self: center;
    }
    .main-content-card{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .secion-info{
        margin-top:150px;       
    }
    .carrusel-marcas{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 800px;
    }
    .container-carrusel , .item-carusel{
        animation:none;
        margin-bottom: 100px;
        margin-left: 50px; /* 70*/
    }
    .container-carrusel{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 0px;
        align-self: center;
        animation: none;
    }
    .container-carrusel , img{
        margin-top: 0px;
        align-items:center;
        animation: none;
        margin-left: 0px; /* 70*/
        margin-top:0px;
    }
    .container-infot{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .container-infot{
        margin-top:320px;
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
   
}

/* Media query , laptop */

@media screen and (min-width:1040px){
    .fondo-vac{
        margin-top:190px;
        width: 500px;
        height: 600px;
    }
    .carrusel-marcas , img{
        margin-left: 100px;
        margin-top: 90px;

    }
}
